<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
    <link href="/assets/favicon.ico" rel="shortcut icon"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <title><%= app_name %></title>    
  </head>
<body>
	<div class="page-wrap">
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= home_path %>">Warehouse</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if current_page?(root_path) %>"><a href="<%= root_path %>">Главная</a></li>
            <li class="<%= 'active' if current_page?(products_path) %>"><%= link_to 'Товары', controller: 'products', action: 'index' %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Поставщики <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Мерлион</a></li>
                <li><a href="#">Поставщик 2</a></li>
                <li><a href="#">Поставщик 3</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>   
   
          
     <div class="col-md-12 content">  
        <div id="page_title" style="display:inline;">
          <%= @title %>
        </div>        
        <% if @links %>
        <div id="subtitle_links">
            <%= @links %>
        </div>
        <% end %>

<!--         <%= flash_messages %> -->
        
        <%= yield %>
        
        
   </div><!-- content -->
   
   
	</div><!-- page-wrap" -->
  
	<div class="col-md-12 footer" >
		  <p style="float:left;padding-top:15px;">InSales 2010. <a href="http://www.insales.ru/terms">Условия использования</a></p>
		    <ul class="nav navbar-nav" style="float:right;">
				<li><%= link_to "Форум", "http://forum.insales.ru", :target => '_blank' %></li>
			</ul>
</div><!-- myfooter -->
</body>
  
</html>